.navbar {
	grid-area: nav;
	padding: 20px;
	background-color: teal;
}

.list {}

.item:not(:last-child) {
	margin-bottom: 30px;
}

.link,
.active {
	font-weight: 500;
	font-size: 30px;
	color: #fff;
	transition: color 0.4s ease;

}

.active {
	color: #0affff;
}