.container {
	max-width: 1600px;
	padding: 0 15px;
	margin: 0 auto;
}

.app-wrapper {
	width: 100%;
	display: grid;
	grid-template-areas: "header header""nav content";
	grid-template-columns: 3fr 10fr;
	grid-template-rows: auto 100%;
	grid-gap: 10px;
}

.title {
	font-weight: 700;
	font-size: 36px;
	color: teal;
	padding: 0 20px;
	margin-bottom: 25px;
}